rest adapter/Project9/SOA/WADLs/RestReference.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="RestReference">RestReference</doc>
   <resources>
      <resource path="/details/html">
         <method name="GET" soa:name="getHelloAsHtml">
            <request/>
            <response status="200">
               <representation mediaType="text/html"/>
            </response>
         </method>
      </resource>
      <resource path="/details/text">
         <method name="GET" soa:name="getHelloAsText">
            <request/>
            <response status="200">
               <representation mediaType="text/plain"/>
            </response>
         </method>
      </resource>
      <resource path="/details/xml">
         <method name="GET" soa:name="getHelloAsXMl">
            <request/>
            <response status="200">
               <representation mediaType="application/xml"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
